.heading {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
    background: #24292e;
    background-color: black;/*#00853e;*/
    color: #fff;
	text-align: center;
	height:60px;
	
}
.heading h1{
	text-transform: capitalize;
}
label{
	display: flex;
	flex-direction: column;
}
.mapContainer {
	position:absolute;
	right:23.3334%;
	width:76.6666%;
	top:60px;bottom:0;
	margin-top:0;
	background: #eae6e0;
}
.sidebar {
	position:absolute;
	width:23.3334%;
	height:100%;
	overflow:auto;
	top:60px;right:0;
	border-right:1px solid rgba(0,0,0,0.25);
}
::-webkit-scrollbar {
    width:5px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
    background:none;
}
::-webkit-scrollbar-thumb {
    background:#00853e;
    border-radius:0;
}
.review{
	
	padding-bottom: 25px;
}

.range-slider {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
  margin-top: 2em;
  color: #fff;
}
.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: -webkit-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #008000;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497e3;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #008000;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #008000;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #008000;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

textarea{
	width: 100%;
}
.marker {
	border: none;
	cursor: pointer;
	height: 56px;
	width: 56px;
	background-image: url(./images/marker.png);
	background-color: rgba(0, 0, 0, 0);
}
/*
ul{
	display: block;
	/*margin: .5em;*
	padding: none;
}
*/
li{
	text-decoration:none;
	list-style: none;
}
li p {
    margin: 0;
    padding: 0;
	padding-bottom: .5em;
}
fieldset{
	padding-top: 0;
}
.fixed{
	/*
	position: fixed;
	opacity: 1;
	z-index: 5;
	margin-top: -1;
	*/
}
.profile{
	display: block;
	border: 1px solid #dde0e3;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	margin: .5em;
	cursor: pointer;
	box-shadow: 0 0 1.25rem 0.25rem rgba(22,25,43,.1);
	
}
.profile img{
	width: 100%;
	height: 9.5em;
	
}
.profile .fa-star{
	font-size: 24px;
}
.slider{
	z-index: 5;
	background: #c4c4c4;
	width: 12em;
	margin-bottom: 0;
	margin-top: 0;
}

.checked {
  color: #098015;
}
.fa-star{
	font-size: 16px;
	cursor: pointer;
}
.star--container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}
.star--container .fa-star{
	font-size: 24px;
}
form  i:hover:before,
form  i:hover ~ i:before{
	color: #098015;			
}

.rating{
	display: flex;
	justify-content: space-between;
	pointer-events: none;
	cursor: none;
}

#popupForm input[type=text], 
#popupForm textarea, 
#popupForm select {
  width: 100%;
  padding: 10px 15px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#popupForm  input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#popupForm  input[type=submit]:hover {
  background-color: #45a049;
}
#popupForm textarea{
	text-align: left;
}
