.heading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background-color: black;/*#00853e;*/
    color: #fff;
}
.mapContainer {
	position:absolute;
	right:23.3334%;
	width:76.6666%;
	top:60px;bottom:0;
}
.sidebar {
	position:absolute;
	width:23.3334%;
	height:100%;
	top:60px;right:0;
	overflow:hidden;
	border-right:1px solid rgba(0,0,0,0.25);
}
.marker {
	border: none;
	cursor: pointer;
	height: 56px;
	width: 56px;
	background-image: url(./images/marker.png);
	background-color: rgba(0, 0, 0, 0);
}

.slider{
	background: #c4c4c4;
}
datalist {
	
	position: absolute;
	top: 2em;
	left: 0;
    display: grid;
    grid-auto-flow: column;
    grid-row: 3;
    place-self: start stretch;
    width: 50%;
}
input{
	position: absolute;
	left: 0;
	width: 40.5%;
}
input[type='range'] {
    min-height: 2.25rem;
    height: 1.5rem;
    background: none;
}
option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
option::before {
    align-self: flex-start;
    width: 4px;
    height: .75rem;
    box-shadow: inset -1px 0 1px #fc7777;
    background: #9b2f0b;
    content: "";
}