
body {
	color:#404040;
	font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing:antialiased;
	overflow: hidden;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

